{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h1 class="mt-5">Add new Todo</h1>
        <p class="lead">
            <p>
                <label>Input title: </label>
                <input type="text" name="title">
            </p>
            <p>
                <label>Input date: </label>
                <input type="date" name="date">
            </p>
            <p>
                <label>Input content: </label>
                <textarea name="content" rows="6"></textarea>
            </p>
            <!-- <table> {{ form }} </table> -->
            <input type="submit" value="Send">
        </p>
    </form>
{% endblock content %}
